<% @articles.each do |article| %>
    <div class="row mt-4 justify-content-md-center">
        <div class="col-8">
            <div class="card text-center shadow-sm rounded-lg">
                <div class="card-header font-italic">
                    by <%= article.user.username if article.user %>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%= link_to article.title, article_path(article), class: "text-dark" %></h5>
                    <div class="card-text text-left"><%= simple_format(truncate(article.description, length: 100)) %></div>
                    <%= link_to 'Show', article_path(article), class: "btn btn-outline-primary" %>
                    <%= link_to 'Edit', edit_article_path(article), class: "btn btn-outline-info" %>
                    <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
                </div>
                <div class="card-footer text-muted">
                    <small>Created <%= time_ago_in_words(article.created_at) %> ago,
                    edited <%= time_ago_in_words(article.updated_at) %> ago.</small>
                </div>
            </div>
        </div>
    </div>
<% end %>
