<h1 class="text-center"><%= @article.title %></h1>
<div class="row mt-4 justify-content-md-center">
    <div class="col-8">
        <div class="card text-center shadow-sm rounded-lg">
            <div class="card-header font-italic">
                by <%= @article.user.username if @article.user %>
                <%= link_to gravatar_for(@article.user, size: 60), user_path(@article.user) %>
            </div>
            <div class="card-body">
                <div class="card-text text-left"><%= simple_format(@article.description) %></div>
                <% if logged_in? && (@article.user == current_user  || current_user.admin?) %>
                    <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-outline-info" %>
                    <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
                <% end %>
            </div>
            <div class="card-footer text-muted">
                <small>Created <%= time_ago_in_words(@article.created_at) %> ago,
                edited <%= time_ago_in_words(@article.updated_at) %> ago.</small>
            </div>
        </div>
    </div>
</div>
<div class="form-group row justify-content-center mt-4">
    [ <%= link_to 'Return to articles index', articles_path, class: "text-dark" %> ]
</div>
