<h1 class="text-center">Listing all categories</h1>

<div class="apple_pagination my-4">
    <div class="page_info">
        <%= page_entries_info @categories %>
    </div>
    <%= will_paginate @categories, :container => false %>
</div>

<%= render 'categories' %>

<div class="apple_pagination my-4">
    <div class="page_info">
        <%= page_entries_info @categories %>
    </div>
    <%= will_paginate @categories, :container => false %>
</div>